---
import sankerAppImage from '~/assets/images/sanker-app-1-phone.png';
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import SimpleFooter from '~/components/widgets/SimpleFooter.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sanker - Find dit næste eventyr',
};

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://apps.apple.com/us/app/sanker-outdoor-marketplace/id6747646239';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://play.google.com/store/apps/details?id=com.ptrkjr.sanker';
---

<Layout metadata={metadata}>
  <Fragment slot='header'>
    <Header
      links={[
        // { text: 'Hjem', href: '#' },
        // { text: 'Om Sanker', href: '#about' },
      ]}
      actions={[
        {
          text: 'Download appen',
          href: '/#download',
          target: '_self',
        },
      ]}
      isSticky
      showRssFeed={false}
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    id='hero'
    title='Køb og sælg brugt friluftsudstyr med Sanker'
    tagline='Lokalt, nemt og bæredygtigt'
    actions={[
      {
        variant: 'primary',
        text: 'Begynd at udforske med Sanker',
        href: 'https://apps.apple.com/us/app/sanker-outdoor-markedsplads/id6747646239',
        target: '_blank',
      },
    ]}
    image={{
      src: sankerAppImage,
      alt: 'Sanker app på iPhone',
      loading: 'eager',
    }}
  >
    <Fragment slot='subtitle'>
      Sanker er dit lokale fællesskab for brugt friluftsudstyr. Vi forbinder dig med andre eventyrlystne i dit område,
      så du kan finde det perfekte udstyr til dit næste outdoor-eventyr—sikkert.
    </Fragment>
  </Hero2>

  <CallToAction
    id='download'
    title='Download appen'
    subtitle='Køb og sælg brugt outdoorudstyre med Sanker allerede i dag'
  >
    <div slot='actions' class='flex max-w-sm gap-4'>
      <Button variant='link' href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt='App Store Image' width={200} />
      </Button>

      <Button variant='link' href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt='Google Play Image' width={200} />
      </Button>
    </div>
  </CallToAction>

  <!-- Simple Footer **************** -->
  <SimpleFooter />
</Layout>
